beautifulsoup4
bs4
certifi==2022.6.15
charset-normalizer==2.1.0
gevent==21.12.0
greenlet==1.1.2
grequests
idna==3.3
PyMySQL
requests
soupsieve==2.3.2.post1
urllib3==1.26.10
zope.event==4.5.0
zope.interface==5.4.0

argparse
time